$base-spacing: 12px;
$pink: #fc7b72;
$yellow: #fcd372;
$blue: #66b2de;

body {
  --random-color: black;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--random-color);
  }
}

h1 {
  font-weight: 900;
  &:hover {
    color: var(--random-color);
  }
}

header {
  display: flex;
  align-items: center;
  padding: $base-spacing $base-spacing * 2 $base-spacing $base-spacing * 2;
}

.nav {
  padding: 0px;
  width: 85%;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: right;

  &__item {
    display: inline;
    padding: $base-spacing * 0.5;
  }
}
